# env
.env
.env.*

# Expo
.expo/
.expo-shared/

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro
.metro-cache/

# Bundler
dist/
web-build/

# macOS / Windows
.DS_Store
Thumbs.db

# Replit
.replit

# Native generated folders
android/
ios/

# IDE / misc
*.iml